configuration {
 modi: "window,drun,ssh,combi";
 font: "hack 10";
 combi-modi: "window,drun,ssh";
 icon-theme: "Papirus";
}
//@theme "/home/kyee/.config/rofi/themes/rounded-nord-dark.rasi"
@theme "/home/kyee/.config/rofi/themes/rounded-nord-dark.rasi"
