* {
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 16px;
  background-color: #1a1c2b; /* Reduced opacity background */ 
  border-radius:10px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-radius:10px;
}

#custom-launcher {
  font-size: 20px;
  color: #00bfff;
  padding-right: 10px;
  background-color: #1a1c2b;
}

#custom-updates {
  color: #85c1dc;
}

#disk {
  color: #68b0d6;
  background-color: #1a1c2b;
}

#workspaces button {
  border-color: #1a1c2b;
  background-color: #1a1c2b;
  padding: 0;
  margin: 3px 0;
  border-radius:30px;
}

#workspaces button label {
  padding:0 8px;
  border: 2px #1a1c2b;
  background-color: #1a1c2b;
}

#workspaces button:nth-child(1) label {
  color: #8aadf4;
}

#workspaces button:nth-child(2) label {
  color: #ed8796;
}

#workspaces button:nth-child(3) label {
  color: #a6da95;
}

#workspaces button:nth-child(4) label {
  color: #c6a0f6;
}

#workspaces button:nth-child(5) label {
  color: #f4dbd6;
}

#workspaces button:nth-child(6) label {
  color: #f5a97f;
}

#workspaces button:nth-child(7) label {
  color: #8bd5ca;
}

#workspaces button:nth-child(8) label {
  color: #68b0d6;
}

#workspaces button:nth-child(9) label {
  color: #aab1d3;
}

#workspaces button.active label{
  background-color: #363a4f;
}

#workspaces button.urgent label{
  background-color: #eed49f;
}

#clock {
  color: #cad3f5;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#cpu,
#memory {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#cpu {
  color: #eed49f;
  padding: 0px 10px 0px 12px;
  border-radius: 5px 0px 0px 5px;
}

#memory {
  color: #a6da95;
  padding: 0px 10px 0px 0px;
  border-radius: 0;
}

#pulseaudio,
#backlight {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#backlight {
  color: #eed49f;
}

#pulseaudio {
  color: #91d7e3;
}

#bluetooth {
  color:#8aadf4;
}

#network {
  color: #c6a0f6;
  margin-right: 10px;
  background-color: #1a1c2b;
}

#battery {
  color: #a6da95;
}

#custom-wallpaper {
  color: #8bd5ca;
  font-size:17px;
}

#custom-download {
  color: #8aadf4;
}

#custom-power {
  color: #b7bdf8;
}